body {
   background-color:#C4C3A2;
   font-family:"Century Gothic", sans-serif;
   font-weight:300;
   font-size:16px;
}

.appname {
   font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-weight:100;
   font-size:30px;
   color:#7D1616;
   font-style:oblique;
}

#heading {
   font-family:Georgia, "Times New Roman", Times, serif;
   font-weight:400;
   font-size:25px;
   color:#68756A;
}

#descr {
   font-family:Georgia, "Times New Roman", Times, serif;
   font-weight:200;
   font-size:20px;
   color:#68756A;
}

#addlfeatures {
   font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-weight:200;
   font-size:20px;
   color:#68756A;
   border-style:solid;
   border-width:medium;
}

#footer {
   font-family:Georgia, "Times New Roman", Times, serif;
   font-weight:200;
   font-size:100%;
   color:#68756A;
   border-style:dotted;
   border-width:medium;
}

.error {
   color: red;
}

#content {
   width: 90%;
   font-size: 16px;
   border-style:solid;
   border-width:medium;
}

#space {
   padding: 20px;
}

#allwords {
  border: 1px solid red; 
}
#title {
  border: 1px solid orange; 
}
#time-title {
  text-align: right;
  border: 1px solid orange; 
}
#ptile0, #ptile1, #ptile2, #ptile3, #ptile4, #ptile5, #ptile6, #ptile7, #ptile8, #ptile9, #ptile10 {
  text-align: center;
}

.eachword {
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 2px;
}
#onlywords {
  height: 101%;
  max-height: 250px;
  overflow-y: scroll;
  border: 2px solid #7F7F7F;
}

